#subscription_form p
{
    margin-top: 15px;
    margin-bottom: 0;
}

#subscription_form input[type="submit"]
{
    margin-top: 15px;
}


/* reset bootstrap css */

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after,
 {
  background: none;
}
