body{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
	css voor het menu
	sjihdazi hellingman
*/
nav a{
	color: white !important;
}

nav a:hover{
	color: black !important;
}

nav .dropdown-menu{
    margin: 16px 0 0 40px !important;
}

.navbar-light .navbar-toggler {
    border-color: rgb(0, 0, 0) !important;
}

.dropdown-menu a{
	color: white;
}

.dropdown-menu{
	background-color: #70b45a !important;
}


@media screen and (max-width: 575px) {
	.lang{
		margin-top: 10px;
		margin-left: -14px;
	}
}

.menu{
    background-color: #41a543;
    min-height: 70px;
    border-bottom: 5px solid green;
    color: white;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.dropdown-menu a{
	margin: 0px;
}

/*
Header styling
Falko Schoonewille
*/

.header-background {
	background: url('../images/header.jpg');
  background-size: cover;
  background-position: bottom;
}

#page_title {
	color: #fff;
	display: inline-block;
	min-width: 250px;
	margin: 0 auto;
	background: #006400;
	font-weight: 400;
}

.rss-item a:hover {
	text-decoration: none;
}

.rss-item h3 {
	font-size: 20px;
	font-weight: 600;
	color: #7eaa5d;
	font-weight: 400;
}

.rss-item p {
	color: #999999;
}

.content {
	margin-top: 25px;
}

.latest-news h2{
	color: #41a543;
	padding-top: 20px;
	border-top: 1px solid #41a543;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
	css voor de header
	sjihdazi hellingman
*/
#header{
	padding: 20px 0 20px 0;
}

.lang img{
	margin-left: 3px;
    margin-top: 6px;
}

/*
	css voor de scheidingen
	sjihdazi hellingman
*/
.seperator{
	height: 20px;
	background-color: darkgreen;
}

/*
	css voor de content
	sjihdazi hellingman
*/
.content-title{
	color: darkgreen;
}

.content-subtitle{
	color: #41a543;
}

.content img{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.lang form, .lang img{
	float: right;
	margin: 0;
	margin-left: 10px;
}
