<div id="header" class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-2">
            <div id="header_logo">
                <img src="images/Logo_darkgreen.png" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-12 col-md-8 mt-auto">
            <div id="page_title" class="text-center">
                <h1>HOME</h1>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 mt-auto text-center">
            <div class="dropdown show">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nedelands
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Nedelands</a>
                    <a class="dropdown-item" href="#">Engels</a>
                </div>
            </div>
        </div>
    </div>
</div>