<nav class="navbar navbar-light navbar-expand-lg menu">
        <div class="container">
            <div class="col-sm-12 col-md-12 mt-auto d-lg-none">
                <div class="row">
                    <button class="navbar-toggler col-sm-6" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="lang col-sm-6">
                      <div class="lang">
                        <div class="dropdown show mobile">
                          <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/uk.png" alt="English"> Language
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="index_en.php">English</a>
                            <a class="dropdown-item" href="index.php">Nederlands</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
            <div class="collapse navbar-collapse justify-content-center nav-fill" id="navbarNav">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a href="index_en.php" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle"
                        data-toggle="dropdown" id="navbarDropdownMenuLink">Courses</a>
                        <div class="dropdown-menu">
                            <a href="opleidingenInf_en.php" class="dropdown-item">Informatics</a>
                            <a href="opleidingenWer_en.php" class="dropdown-item">Mechanical Engineering</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="locatie_en.php" class="nav-link">Location</a>
                    </li>
                    <li class="nav-item">
                        <a href="gallerij_en.php" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact_en.php" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
